[submodule "ngo_expense_tracker"]
	path = ngo_expense_tracker
	url = https://github.com/donfortune/node_ngo_expense_tracker.git
[submodule "lib_api"]
	path = lib_api
	url = https://github.com/donfortune/node_lib.git
[submodule "movie_detail_api"]
	path = movie_detail_api
	url = https://github.com/donfortune/movie_detailing_apis.git
[submodule "dating_api"]
	path = dating_api
	url = https://github.com/donfortune/dating_app_api.git
